* {
    box-sizing: border-box;
}


body {
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Intro', sans-serif;
    font-weight: 900;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.title {
    color: #FA7343;
}

.description {
    color: #9ea0a5;
}



.nav-mobile img {
    width: 32px;
}

.desktop-menu {
    display: none;
}

.section-how {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.section-how__title {
    color: #FA7343;
    text-align: center;
    margin-top: 1rem;
}

.step {
    display: flex;
    gap: 0.5rem;
}

.step__image {
    width: 50px;
}

.step__title {
    text-transform: uppercase;

}


